# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py~

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*~

# temporairement JH
Ecran Physiocap Plugin.png
Physiocap_dialog_base_save*.ui
Physiocap_dialog_base.ui.bak
Physiocap_dialog_184B1.ui
Physiocap*.zip
Makefile~
data (esquive)/
test/Physiocap.conf
dataChavot*/
data Checker*/
data Pulve*/
data Salleboeuf*/
data Cap*/
data JH*/
data_IFV*/
data/UnProjetPhysiocap*/*
data/Contour*
data/PHY_*
data/*OK
data/*erreur
data/test*
data/CONSO*
data/TEST*
data/Exempl*
data/Doc*
data/Mo*
help/help*
testdata/
modeleQgis/*.txt
i18n/bak*
Physiocap_tools_PG.pyJH
i18nOKJH*/
i18nOK1*/
print/
ssl/
#.noseids
pylintrc
.gitignore~

*.uibak*
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
